html {
    font-family: Helvetica, sans-serif;
    margin: 40px 80px;
}

a {
    text-decoration: none;
    color: darkcyan;
}

h1 {
    display: inline-block;
    margin-right: 40px;
}

h2 {
    font-weight: 500;
}

nav,
ul li {
    list-style: none;
    display: inline-block;
}

p {
    line-height: 1.25;
}